/* Use variables for universal styling of page */
:root {
    /* Page color schema */
    /* TO DO - decide on page color schema */
    --color-primary: white;
    --color-primary-variant: white;
    --color-on-primary: white;
    --color-secondary: white;
    --color-secondary-variant: white;
    --color-on-secondary: white;
    --color-bg: white;
    --color-on-bg: white;
    --color-surface: white;
    --color-on-surface: white;
    --color-error: white;
    --color-on-error: white;
}

/* Universal page styling */
* {
    font-family: 'Montserrat', 'Times New Roman', Times, serif;
}

/* TO DO - Right side high score tracker */

/* TO DO - Left side time tracker   */

/* TO DO - Center Container that holds title and quiz data */

/* TO DO - Quiz center title */

/* TO DO - Quiz center question container */

/* TO DO - Quiz center multiple answer container */

/* TO DO - Quiz correct/incorrect container */

/* TO DO - Game over container */

/* TO DO - High score list */

/* Responsive CSS for small devices */
/* TO DO - Tablet size */

/* TO DO - Phone size */